<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BASE_ADDR" value="k12test.dev.local" />
    <add key="HTTP_PORT" value="80" />
    <add key="HTTPS_PORT" value="443" />
    <add key="ROBOTS_ADR" value="/robots.txt" />
    <add key="SITEMAP_ADR" value="/sitemap.xml" />
    <add key="ADDR_404" value="/404" />
    <add key="ADDR_50x" value="/500" />
    <app key="W3CH_HTML_ERROR_FAIL_COUNT" value="5"/>
    <app key="W3CH_HTML_WARN_FAIL_COUNT" value="10"/>
  </appSettings>
</configuration>